/* Specific to destinations page */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0066cc;
}

form {
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form button {
    align-self: flex-end;
}

table th:last-child,
table td:last-child {
    text-align: center;
}
